* {
    margin: 0;
    padding: 0
}

body, html {
    min-height: 100%;
    height: 100%
}
body{
    position: absolute;
    top:0;bottom: 0;left: 0;right:0;
}

body {
    background: #f5f5f5;
    font-family: "Open Sans", sans-serif;
    font-size: 14px
}
.center-containner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.full{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
@font-face {
    font-family: 'piqad';
    src: url('../fonts/piqad.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.lang-klingon{
    font-family: 'piqad';
}

.clearfix {
    overflow: auto;
    zoom: 1
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap
}

.todo-wrapper {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 0 40px rgba(0, 0, 0, .1);
    /*width: 350px*/
}


.todo-form {
    margin: 15px 0;
    width: 100%
}

.todo-form input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #E6E6E6;
    font-family: inherit;
    padding: 5px 0;
    outline: 0
}

.todo-form input:focus {
    border-bottom-color: #ff3c41
}

.todo-content .todo-content-title {
    padding: 20px
}

.todo-content .todo-content-title h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: #4C4646
}

.todo-content .todo-content-title .task-report {
    font-size: .9em;
    color: #afafaf;
    margin-top: 5px
}

.todo-list {
    list-style: none;
    height: 366px;
    overflow: auto;
}

.todo-list .todo-item {
    padding: 15px 20px;
    border-top: 1px solid #f1f1f1;
    position: relative
}

.todo-list .todo-item.task-done .text {
    color: #ccc
}

.todo-list .todo-item .text {
    margin-top: -2px;
    padding-left: 26px;
    padding-right: 35px
}

.todo-list .todo-item .action-popup {
    position: absolute;
    right: 0;
    top: 23px;
    border: 1px solid #EFEFEF;
    list-style: none;
    padding: 5px 10px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 4px 7px rgba(0, 0, 0, .1);
    display: none;
    z-index: 99999
}

.todo-list .todo-item .action-popup.show {
    display: block
}

.todo-list .todo-item .action-popup li {
    padding: 3px 5px;
    margin: 5px 0;
    cursor: pointer;
    white-space: nowrap;
    font-size: .9em;
    border-radius: 3px
}

.todo-list .todo-item .action-popup li i {
    margin-right: 5px
}

.todo-list .todo-item .action-popup li:hover {
    background: #f5f5f5
}

.todo-list .todo-item .label {
    display: inline-block;
    background: #ff3c41;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
    position: relative;
    cursor: pointer
}

.todo-list .todo-item .label.normal {
    background: #37EAA0
}

.todo-list .todo-item .label.other {
    background: #3772FD
}

.todo-list .todo-item .label .action-pick-label {
    left: 0;
    width: 140px
}

.todo-list .todo-item .label .action-pick-label li {
    color: #fff;
    font-weight: 700;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2)
}

.todo-list .todo-item .label .action-pick-label li:hover {
    opacity: .8
}

.todo-list .todo-item .label .action-pick-label .important {
    background: #ff3c41
}

.todo-list .todo-item .label .action-pick-label .normal {
    background: #37EAA0
}

.todo-list .todo-item .label .action-pick-label .other {
    background: #3772FD
}

.todo-list .todo-item .todo-action {
    position: absolute;
    right: 20px;
    top: 12px
}

.todo-list .todo-item .todo-action .more {
    cursor: pointer
}

.todo-list .todo-item .todo-action .more span {
    display: inline-block;
    margin: 0 1px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #DADADA
}

.todo-list .todo-item .todo-action .more:hover span {
    background: #DADADA
}

.todo-list .todo-item.editing input {
    border: none;
    font-family: inherit;
    outline: 0;
    font-size: 1em;
    width: 100%;
    background: 0 0
}

.Vidage__backdrop, .Vidage__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.Vidage--allow .Vidage__video {
    display: block
}

.Vidage--allow .Vidage__image {
    display: none
}

.Vidage {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1
}

.Vidage, .Vidage__video {
    min-width: 100%;
    min-height: 100%
}

.Vidage__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    display: none
}

.Vidage__image {
    background-image: url('/static/video/mountain_lake.jpg');
    background-position: 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover
}

.Vidage__backdrop {
    background-color: #1b1c1d;
    opacity: .2
}
.icon-logo-inno{
    width: 100%;
    height: 82px;
    background: url('/static/images/logo_innosnap_100_w.png') no-repeat 0 0;
    display: inline-block;
}
span.logo,div.logo {
    width: 365px;
    height: 100px;
}
