
.vt-spin5:before { content: '\e800'; } /* '' */
.vt-marquee:before { content: '\e801'; } /* '' */
.vt-spin3:before { content: '\e802'; } /* '' */
.vt-heart:before { content: '\e803'; } /* '' */
.vt-heart-empty:before { content: '\e804'; } /* '' */
.vt-camera:before { content: '\e805'; } /* '' */
.vt-picture:before { content: '\e806'; } /* '' */
.vt-ok:before { content: '\e807'; } /* '' */
.vt-mic:before { content: '\e808'; } /* '' */
.vt-mute:before { content: '\e809'; } /* '' */
.vt-location:before { content: '\e80a'; } /* '' */
.vt-direction:before { content: '\e80b'; } /* '' */
.vt-bell-alt:before { content: '\e80c'; } /* '' */
.vt-bell-off:before { content: '\e80d'; } /* '' */
.vt-bell-off-empty:before { content: '\e80e'; } /* '' */
.vt-bell:before { content: '\e80f'; } /* '' */
.vt-left-open:before { content: '\e810'; } /* '' */
.vt-right-open:before { content: '\e811'; } /* '' */
.vt-up-open:before { content: '\e812'; } /* '' */
.vt-down-open:before { content: '\e813'; } /* '' */
.vt-move:before { content: '\e814'; } /* '' */
.vt-resize-full-alt:before { content: '\e815'; } /* '' */
.vt-block:before { content: '\e816'; } /* '' */
.vt-cog-alt:before { content: '\e817'; } /* '' */
.vt-cog:before { content: '\e818'; } /* '' */
.vt-sliders:before { content: '\e819'; } /* '' */
.vt-calendar:before { content: '\e81a'; } /* '' */
.vt-calendar-empty:before { content: '\e81b'; } /* '' */
.vt-ellipsis:before { content: '\e81c'; } /* '' */
.vt-ellipsis-vert:before { content: '\e81d'; } /* '' */
.vt-paper-plane:before { content: '\e81e'; } /* '' */
.vt-paper-plane-empty:before { content: '\e81f'; } /* '' */
.vt-login:before { content: '\e820'; } /* '' */
.vt-logout:before { content: '\e821'; } /* '' */
.vt-resize-full:before { content: '\e822'; } /* '' */
.vt-resize-small:before { content: '\e823'; } /* '' */
.vt-sun:before { content: '\e824'; } /* '' */
.vt-moon:before { content: '\e825'; } /* '' */
.vt-cloud:before { content: '\e826'; } /* '' */
.vt-flash:before { content: '\e827'; } /* '' */
.vt-umbrella:before { content: '\e828'; } /* '' */
.vt-sort-name-up:before { content: '\e829'; } /* '' */
.vt-sort-name-down:before { content: '\e82a'; } /* '' */
.vt-sort-number-up:before { content: '\e82b'; } /* '' */
.vt-sort-number-down:before { content: '\e82c'; } /* '' */
.vt-sort-alt-up:before { content: '\e82d'; } /* '' */
.vt-sort-alt-down:before { content: '\e82e'; } /* '' */
.vt-filter:before { content: '\e82f'; } /* '' */
.vt-tags:before { content: '\e830'; } /* '' */
.vt-bookmark:before { content: '\e831'; } /* '' */
.vt-eye-off:before { content: '\e832'; } /* '' */
.vt-eye:before { content: '\e833'; } /* '' */
.vt-plus:before { content: '\e834'; } /* '' */
.vt-minus:before { content: '\e835'; } /* '' */
.vt-cancel:before { content: '\e836'; } /* '' */
.vt-search:before { content: '\e837'; } /* '' */